body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

p {
  display: inline;
}

div {
  margin-bottom: 20px;
  height: auto;
  width: auto;
}

div.syllable {
  display: inline;
  cursor: pointer;
}

div.line {
  height: 10px;
}

div.past {
  color: red
}

div.current {
  color: green;
}